.ForgottenPasswordModal {
  flex-direction: column;
  background: white;
  animation-name: modalFade;
  animation-duration: .3s;
}
.ForgottenPasswordModal span {
  align-self: flex-end;
}
.ForgottenPasswordModal h1 {
text-align: center;
padding: 7% 0 10%;
}
input[type="email"] {
  width: 100%;
}

#forgotButton {
  display:flex;
  background-color: #8A9968;
  border-radius: 0.3em;
  box-shadow:0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  cursor: pointer;
  font-size:x 1.15rem;
  font-weight: 700;
  padding: .5rem 1rem;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  justify-content: center;
}


#forgotButton:hover{
  background-color:#C63B3C; /*afa49d*/
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

@media screen and (max-width: 375px){
  .ForgottenPasswordModal {
    height: 66vh;
    width: 100vh;
  }
}
