.title {
  align-items: center;
  background-color:#8A9968;
  border-radius: 8px 8px 0px 0px;
  display: grid;
  grid-area: title;
  justify-content: space-around;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  padding: 3%;
}
.header {
  background-color:  #fff;
  display: grid;
  grid-area: mainTop;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  margin-right: 7%;
  margin-left: 7%;
  max-width: 86%;
}
.headerButtons {
  display: flex;
  flex-wrap: wrap;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  justify-content: center;
  padding: 3%;
}
.classInfo {
  grid-column: 1 / span 3;
  grid-row: 1/ span 1;
}
.title h1{
  color: white;
}
.header h1 {
  align-content: flex-start;
  display: flex;
  grid-area: title;
  grid-column: 1/2;
  grid-row: 1;
  justify-content: center;
}
h2 {
  align-content: flex-start;
  grid-row: 3/3;
  grid-column: 1 /span 3;
  justify-content: center;
  margin-bottom: 0px;
  padding-top: 2%;
  padding-left: 2%;
  border-bottom: 1.5px black solid;
}
.headerHr{
  display: none;
}
.classesHeader{
  grid-column: 1 / span 2;
}
.topicHeader{
  text-align: center;
  background-color:#8A9968;
  padding:1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.header h2{
  font-size: 2.5rem;
}

.btn-main {
  background-color: #8E8076;
}
.addTopicForm {
  display: flex;
  flex-wrap: wrap;
  grid-row: 4 / 4;
  grid-column: 1 / span 3;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 96%;
}
#addTopicForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  width: 100%;
  margin-left:2%;
  margin-right:2%;
}
#addTopicForm input {
   grid-column: 1 / span 3;
   margin: 3px;
 }

  #subHeader {
  display: grid;
  grid-auto-columns: 1fr 1fr;
}
  #subHeader h1 {
   grid-column: 1 / span 1;
   color: white;
   font-size: 3rem;
   justify-self: start;
   text-align: left;
 }
 #subHeader button {
   background-color: white;
   color: #8E8076;
 }
 #createClass:hover,
  #findClass:hover {
    background-color:#C63B3C;
    color: white;
  }
 .titleHeaderButtons{
  grid-column: 2 / span 1;
  justify-self: end;
 }

@media (min-width: 576px) and (max-width: 991.98px) {
  .addTopicForm {
    margin-left: 2%;
    margin-right: 2%;
  }
  .header {
    margin-left: 2%;
    margin-right: 2%;
    max-width: 96%;
  } 
  .title {
    margin-left: 2%;
    margin-right: 2%;
  }  
  .headerHr{
    display: block;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 575.9px) {
  #addTopicForm{
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 100%;
  }
  .addTopicForm {
    grid-column: 1 / span 3;
    margin-left: 5%;
    margin-right: 5%;
  }
  #addTopic {
    align-self: center;
    grid-column: 1 / span 3;
    margin: 2%;
    width: 100%;
  }
  .header {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
  .title {
    border-radius: 0px 0px 0px 0px;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .btn-header {
    width: 100%;
  }
  .addTopicBtn {
    align-self: center;
    margin: 2%;
    width: 100%;
   }
  .addTopicInput {
    margin: 0;
    max-width: 100%;
   }
  #subHeader {
     display: flex;
     flex-direction: column;
   }
   #subHeader h1 {
    letter-spacing: 4px;
  }
  #subHeader h1 {
    color: white;
    margin-left: 0%;
  }
  #createClass,
  #findClass{
    width: 95%;
    margin: 0 auto;
    margin: 2%;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  #createClass:hover,
  #findClass:hover {
    background-color:#C63B3C;
    color: white;
  }
  h2{
    border-bottom: none;
    text-align: center;
    padding-bottom: 1rem;
  }
  .headerHr{
    display: block;
  }
}